<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="topnav">
      <a href="/posts">ALL POSTS</a>
      <a href="/posts/new">NEW POST</a>
    </div>
    <h1>RELIEF</h1>
    <p>Welcome</p>
  </body>
</html>
