body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
  background-image: url("https://images.squarespace-cdn.com/content/v1/56bab20a3c44d8795bd5ddf5/1459106556040-TJDLLRBMGZ5L7WD1B4HM/pattern-8.jpg?format=2500w");
}

a {
  color: #00B7FF;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.post-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-user img {
  border-radius: 50%;
  height: 40px;
}