* {
  box-sizing: border-box;
  font-family: 'Bungee', cursive;
  color: #4aaa7a;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: #a5ddc7;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px 0 30px;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://images.squarespace-cdn.com/content/v1/56bab20a3c44d8795bd5ddf5/1459106556040-TJDLLRBMGZ5L7WD1B4HM/pattern-8.jpg?format=2500w");
  padding: 20px;
  overflow-y: scroll;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: #4aaa7a;
}

nav > a:hover:not(.active) {
  color:  #4aaa7a;
  background-color: #d9eb77;
}

.nav-text {
  color: #4aaa7a;
  font-family: 'Bungee Shade', cursive;
  }

.box {
  text-align: center;
  background-color: rgb(247, 247, 247);
  width: 800px;
  height: 1000pox; 
}

.box-two {
  text-align: center;
  background-color: rgb(231, 230, 230);
  width: 800px;
  height: 1000pox; 
}

table {
  width: 100%;
}

.text-here {
  width: 500px;
  height: 100px; 
}

.title-here {
  width: 500px;
  height: 25px; 
}

h1 {
  color: #4aaa7a;
  font-size: 35px;
  font-family: 'Bungee Shade', cursive;

}

h2 {
  color: #43b46f;
  font-size: 30px;
  font-family: 'Bungee Outline', cursive;
}

.th, th, h3 {
  font-size: 18px;
  color: #b6c753;
  font-family: 'Bungee Hairline', cursive;

}

.label {
  font-size: 25px;
}


.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

#login-img {
  height: 30px;
}

.post-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-user img {
  border-radius: 50%;
  height: 40px;
  align-items: center;
}

.button {
  margin-top: 30px;
  padding: 15px;
  width: 200px;  
  background-color: #d9eb77;
  color: #4aaa7a;
  border-color: #4aaa7a;
  border-radius: 5px;
  font-size: 20px;
}

.button:hover {
  background-color: #4aaa7a;
  color: #d9eb77;
}

.button-two {
  margin-top: 30px;
  padding: 5px;
  width: 100px;  
  height: 10px; 
  background-color: #d9eb77;
  color: #4aaa7a;
  border-color: #4aaa7a;
  border-radius: 5px;
  font-size: 20px;
  text-decoration: none;
}

a.button-two:hover {
  color: #d9eb77;
  background-color:  #4aaa7a;
}