<%- include('../partials/header') %>


<div class="box">
<h2>EDIT MY POST</h2>
<% if (user) { %>
  <form action="/posts/<%= post._id %>?_method=PUT" method="POST">
    <label class="label">edit title</label><br><br>
        <input class="title-here" type="text" name="title"><br><br><br>
    <label class="label">edit content</label><br><br>
        <textarea class="text-here" name="content"></textarea><br>
    <input class="button" type="submit" value="SUBMIT EDITS">
  </form>
<% } %>
</div>

<%- include('../partials/footer') %>



