<%- include('../partials/header') %>



<h2>EDIT MY POST</h2>
<% if (user) { %>
  <form action="/posts/<%= post._id %>?_method=PUT" method="POST">
    <label>Title:
        <input type="text" name="title">
        <textarea name="content"></textarea>
    </label>
    <input type="submit" value="Add Post">
  </form>
<% } %>


<%- include('../partials/footer') %>