<%- include('../partials/header') %>
    


<div class="box">
    <h2>ADD A TIP!</h2>
    <% if (user) { %>
    <form action="/posts" method="POST">
        <label class="label">name your technique:
        </label><br><br>
            <input class="title-here" type="text" name="title"><br><br><br>
        <label class="label">what gives you some relief from anxiety?</label><br><br>
            <textarea class="text-here" name="content"></textarea><br>
        <input class="button" type="submit" value="POST">
    </form>
    <% } %>
</div>


    
    <%- include('../partials/footer') %>